In [1]:
print("Hello Jupyter or VSCode!")

Hello Jupyter or VSCode!

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({"a":range(10), "b":range(9, -1, -1)})
df

   a  b
0  0  9
1  1  8
2  2  7
3  3  6
4  4  5
5  5  4
6  6  3
7  7  2
8  8  1
9  9  0

In [4]:
df.describe()

              a         b
count  10.00000  10.00000
mean    4.50000   4.50000
std     3.02765   3.02765
min     0.00000   0.00000
25%     2.25000   2.25000
50%     4.50000   4.50000
75%     6.75000   6.75000
max     9.00000   9.00000